.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
  }
  

  .background-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 10px solid #f02525;
    width:100vw;
  }
  
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width:1700px;
    margin:0 auto;
  }
  .content {
    max-width: 1700px;
    margin: 0 auto;
    padding:0 2rem;
  }
  .search h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    max-width: 500px;
  }
  
  @media screen and (max-width: 500px) {
    .search h1 {
      font-size: 1.5rem;
    }
  }
  .search input {
    width: 60%;
    height: 70px;
    border-radius: 40px;
    padding: 1rem;
    min-width: 300px;
  }
  @media screen and (max-width: 500px) {
    .search input {
      height: 50px;
    }
  }